@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
:root {
	--font-color: hsl(0, 0%, 100%);
	--bg-color: hsl(207, 26%, 17%);
	--mode-elements: hsl(209, 23%, 22%);
	--deatil: 16px;
	--homepage: 14px;
}
[data-theme="light"] {
	--font-color: hsl(200, 15%, 8%);
	--bg-color: hsl(0, 0%, 98%);
	--mode-elements: hsl(0, 17%, 98%);
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Nunito Sans", sans-serif;
	background-color: var(--bg-color);
	color: var(--font-color);
	min-height: 100vh;
}
.container {
	padding: 1.5em;
}
.text-bold {
	font-weight: bolder;
}
.flex {
	display: flex;
}
.flex.justify-between {
	justify-content: space-between;
}
.flex.align-center {
	align-items: center;
}
.nav {
	background-color: var(--mode-elements);
}
.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	text-decoration: none;
	color: var(--font-color);
}

/* Pagination --start */
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.pagination .page-item {
	padding: 0.5em;
	margin: 0.5em;
}
.pagination .page-link {
	text-decoration: none;
}
@media (min-width: 768px) {
	.pagination .page-link {
		padding: 1em;
		margin: 1em;
	}
}
/* Pagination --end */

/* Search and filter --start */
.search {
	position: relative;
}
select#regions {
	background: var(--bg-color);
	width: 45%;
	margin-top: 1em;
	padding: 10px;
	outline: none;
	color: var(--font-color);
	height: 3rem;
	border-radius: 0.4rem;
	border: 2px solid var(--bg-color);
}
input[type="text"] {
	padding: 5px 5px 5px 40px;
	width: 85%;
	background: var(--bg-color);
	outline: none;
	color: var(--font-color);
	height: 2rem;
	border-radius: 0.4rem;
	border: 2px solid var(--bg-color);
}
input[type="submit"] {
	position: absolute;
	top: 29px;
	left: 30px;
	background-color: transparent;
	border: none;
	font-size: 1.6em;
}
@media (min-width: 768px) {
	select#regions {
		width: 25%;
	}
}
@media (min-width: 1024px) {
	.search {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	select#regions {
		margin-top: 0;
		width: 20%;
	}
	input[type="text"] {
		width: 200%;
	}
}
/* Search and filter --end */

/* Card styles --start*/
.card {
	height: 350px;
	width: 300px;
	border-radius: 10px;
	background-color: var(--mode-elements);
	margin: 1em auto;
}
.card-image {
	height: 45%;
}
.card-image img {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0px 0px;
}
@media (min-width: 768px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	.card {
		margin: 1em auto 3em auto;
	}
}
/* Card styles --end*/

/* Single Country styles --start*/
.flag {
	margin: 2em 0;
}
.flag img {
	width: 100%;
	height: 15em;
}
.country-stats {
	margin: 1em 0;
}
.country-stats.name {
	font-size: 24px;
}
.go-back {
	width: 60px;
	padding: 5px 30px;
	box-shadow: 1px 1px 5px hsl(0, 1%, 39%);
	border-radius: 5px;
}
@media (min-width: 768px) {
	.country-content {
		display: flex;
	}
	.flag {
		width: 50%;
		margin: 2em 4em 2em 0;
	}
}
@media (min-width: 1024px) {
	.flag img {
		height: 100%;
	}
}
/* Single Country styles --end*/

/* STYLES FOR DARK MODE TOGGLE SWITCH --START */
.theme-switch-wrapper {
	display: flex;
	align-items: center;
}
.theme-switch-wrapper em {
	margin-left: 10px;
	font-size: 1rem;
}
.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #66bb6a;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* STYLES FOR DARK MODE TOGGLE SWITCH --End */
